# C++
**/cmake-build-*/
**/build/
**/dist/

# nodejs
**/node_modules/
*.node
**/out/
**/package-lock.json
**/tsconfig.tsbuildinfo
**/pnpm-lock.yaml
**/pnpm-workspace.yaml

# python
**/.pytest_cache/
**/__pycache__/
*.pyd

# Java
**/.gradle/
**/gradle/wrapper/
**/gradlew
**/gradlew.bat
*.dll

# IDE
**/.idea/
**/.vscode/
**/.vscode-test/

# other file
*.zip
*.vsix
/docs/compiler/
/docs/exports/